*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #DAF0FF ;
    display: flex;
    align-items: center;
    justify-content: center;
}
#panel{
    height: 71%;
    width: 20%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid white;
    box-shadow: 0px 0px 100px 0px;
    background-color: transparent;
}
#ptop{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    height: 170px;
    font-size: 50px;
    font-weight: 600;
    border: 3px white;
    border-bottom-style: solid;
}
#screen{
    width: 100%;
    /* border: 1px solid; */
    text-align: end;
    padding: 30px 5px 30px 0px;
    border-radius: 6px;
    font-size: 40px;
    background: #fbfbfb;
    border: 2px solid transparent;
    height: 36px;
    box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
} 
#screen:focus{
    border: 2px solid #000;
    border-radius: 4px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#pbtm{
    width: 100%;
    height: calc(100% - 170px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    width: 50px;
    height: 50px;
    padding: 30px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-right: 10px;
    background-color: white;
    box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
    cursor: pointer;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-left: 9px;
}
#zero{
    padding: 30px 100px;
    margin-right: 10px;
}